@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model Aluno

@if (TempData["MsgErro"] != null)
{
    <div class="alert-danger">
        @TempData["MsgErro"]
    </div>
}

<h1>Editar Aluno:</h1>

<form asp-controller="Aluno" asp-action="AtualizarAluno" asp-route-id="@Model.Id" method="post">

    <p>Dados Gerais:</p>

    <div class="mb-3 col-md-4">
        <label class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control">
    </div>

    <div class="mb-3 col-md-4">
        <label class="form-label">Cpf</label>
        <input type="text" asp-for="Cpf" class="form-control">
    </div>

    <div class="mb-3 col-md-4">
        <label class="form-label">Matricula</label>
        <input type="text" asp-for="Matricula" class="form-control">
    </div>


    <div class="mb-3 col-md-4">
        <label class="form-label">Data De Nascimento</label>
        <input type="date" asp-for="Data_De_Nascimento" class="form-control">
    </div>

    <p>Endereço:</p>

    <div class="mb-3 col-md-4">
        <label class="form-label">CEP</label>
        <input type="text" asp-for="CEP" class="form-control">
    </div>

    <div class="mb-3 col-md-4">
        <label class="form-label">Logradouro</label>
        <input type="text" asp-for="Logradouro" class="form-control">
    </div>


    <div class="mb-3 col-md-4">
        <label class="form-label">Numero</label>
        <input type="text" asp-for="Numero" class="form-control">
    </div>

    <div class="mb-3 col-md-4">
        <label class="form-label">Bairo</label>
        <input type="text" asp-for="Bairo" class="form-control">
    </div>


    <div class="mb-3 col-md-4">
        <label class="form-label">Cidade</label>
        <input type="text" asp-for="Cidade" class="form-control">
    </div>

    <div class="mb-3 col-md-4">
        <label class="form-label">Estado</label>
        <input type="text" asp-for="Estado" class="form-control">
    </div>


    <div class="text-center">
        <button type="submit" class="btn btn-primary">Salvar edição</button>
        <a class="btn btn-primary" type="button" asp-controller="Aluno" asp-action="Index"> Voltar</a>
    </div>
</form>