@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Bem vindo(a), a aplicação feita no curso do "Jovem Programador".</h1>
    <p>Aplicação Desenvolvida na materia de "Desenvolver aplicações back-end para web"</p>
    <p>Aluno: Jader</p>
    <p>Professora: Katia</p>
</div>
