@{
    ViewData["Title"] = "Essa é a professora KATIA:";
}
<h1>@ViewData["Title"]</h1>

<p style="color:blue;">Foto da professora abaixo:</p>

<br>
<br>

<img src="~/profe.png" alt="Alternate Text" />